Exploratory Data Analysis

 we will perform all future analysis and querying to the data in .ipynb files. .ipynb files are a great medium to tell the story of the EDA process and later analysis of the data. 
. we are creating the classes in .py files and importing them into the .ipynb for use.

In [14]:
import sys
sys.path.insert(0, ".")

In [24]:
from pathlib import Path
import db_utils
import pandas as pd

db_utils

data = pd.read_csv('loan_payments.csv')
data.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

converting columns to the correct format

After familiarising ourselves with the data, we want to alter any columns that aren't in the correct format. 

*Are there columns that could be represented better numerically, 
*are dates in the correct format, 
*should some columns be categorical? 
*Are there any excess symbols in the data?

If there are columns which should be converted into a different format, create a DataTransform class to handle these conversions. 
We have added mthdos to the DataTransform class which we can apply to the DataFrame columns to perform any required conversions.