Exploratory Data Analysis

 we will perform all future analysis and querying to the data in .ipynb files. .ipynb files are a great medium to tell the story of the EDA process and later analysis of the data. 
. we are creating the classes in .py files and importing them into the .ipynb for use.

In [29]:
import sys
sys.path.insert(0, ".")

In [30]:
from pathlib import Path
import db_utils
import pandas as pd

db_utils

data = pd.read_csv('loan_payments.csv')
data.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

converting columns to the correct format

After familiarising ourselves with the data, we want to alter any columns that aren't in the correct format.

In [ ]:
print(data.dtypes)

id                               int64
member_id                        int64
loan_amount                      int64
funded_amount                  float64
funded_amount_inv              float64
term                            object
int_rate                       float64
instalment                     float64
grade                           object
sub_grade                       object
employment_length               object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_date                      object
loan_status                     object
payment_plan                    object
purpose                         object
dti                            float64
delinq_2yrs                      int64
earliest_credit_line            object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                    int64
total_accounts                   int64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date               object
last_payment_amount            float64
next_payment_date               object
last_credit_pull_date           object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
dtype: object

Are there columns that could be represented better numerically?


Are dates in the correct format?

In [ ]:
date_mask = data.columns.str.contains('date')

print(data.loc[:,date_mask].dtypes) # selects mask and prints dtypes

issue_date               datetime64[ns]
last_payment_date        datetime64[ns]
next_payment_date                object
last_credit_pull_date            object
dtype: object

No! So we should convert these objects (strings) into dates. 

Because there are columns which should be converted into a different format, we create a DataTransform class to handle these conversions. 

We have added methods to the DataTransform class which we can apply to the DataFrame columns to perform any required conversions.

In [ ]:
from DataTransform import DataTransform
data_transforming_instance = DataTransform
data = data_transforming_instance.date_convert(data)

print(data.loc[:,date_mask].dtypes)

TypeError: DataTransform.date_convert() missing 1 required positional argument: 'data'

*should some columns be categorical?

*Are there any excess symbols in the data?